body{
    font-family:trebuchet, helvetica, sans-serif;
    background-color: Rgb(207,238,254);
    margin: 60px ;
 }
  

 h1,h2,main {
    text-align : center;
}

video {
    display:block;
    margin:0 auto 35px auto}

p,ul{
      text-align: justify;
      font-size: 20px;
  }


h1 {
    color : midnightblue;
    font-size : 100px;
}

h2 {
    font-size : 50px;
}

img{
    display: block;
    margin: 0 auto;
  }


.debut {
    list-style-type: none;
    text-align: center;
  }

.prems,h1,h2 {
    font-weight: bold;
}  


.important {
    font-weight: bold;
    font-size: 25px;

}
